<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/LoginAndRegistration.styles.css" asp-append-version="true" />

<h2>Success!</h2>
<form asp-action="Logout" asp-controller="Home" method="post">
    <input class="btn btn-sm btn-danger" type="submit" value="Logout">
</form>