<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Successful Email Validation</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
    <div class="card bg-dark text-light col-5 mx-auto my-5">
        <div class="card-body">

            {% with messages = get_flashed_messages() %}
            <!-- declare a variable called messages -->
            {% if messages %}
            <!-- check if there are any messages -->
            <h2>FLASH!!!!! AHHHHHHHH</h2>
            {% for message in messages %}
            <!-- loop through the messages -->
            <p>{{message}}</p> <!-- display each message in a paragraph tag -->
            {% endfor %}
            {% endif %}
            {% endwith %}

            <h2>All the emails in the Database:</h2>
            {% for email in emails %}
            <p>{{ email.email }} {{email.created_at}}
                <a href="/delete/{{email.id}}">Delete</a>
            </p>
            {% endfor %}
        </div>
        <a href="/">Home</a>
    </div>
</body>

</html>