@{
    ViewData["Title"] = "Success";
}

<link rel="stylesheet" href="~/css/style.css">

@model Date

<h4>Success! you have chosen a date in the past!</h4>
<p>Date/Time chosen: @Model.DateValidation</p>
