@model MyViewModel

@* Post route taking in an instance of the Association and the CategoryID. *@
@* When id is needed in post route, include it as a parameter using the controller and the instance of the association *@
@* Not products was created in MyViewModel as a list *@

<form asp-action="AddProduct" asp-controller="Home" asp-route-CategoryId="@Model.Known.CategoryId" method="post">
    <select asp-for="@Model.Known.ProductId" name="ProductId" class="form-select">
        @foreach (Product p in Model.NotProducts)
        {
            <option value="@p.ProductId">@p.Name</option>
        }
    </select>
    <input type="submit" value="Add" class="btn btn-sm btn-info mt-2">
</form>